Repository d-kimuson/pnpm-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, cspell, backend-eslint, frontend-eslint, helpers-eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: |
        pnpm run:prettier --write {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

    cspell:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm cspell lint --no-must-find-files --gitignore --cache {staged_files}
      skip:
        - merge
        - rebase

    backend-eslint:
      root: "apps/backend/"
      glob: "*.{ts,tsx,mts,mcs,js,jsx,mjs,cjs}"
      stage_fixed: true
      run: |
        pnpm --filter backend exec eslint --no-error-on-unmatched-pattern --cache --fix {staged_files}
      skip:
        - merge
        - rebase

    frontend-eslint:
      root: "apps/frontend/"
      glob: "*.{ts,tsx,mts,mcs,js,jsx,mjs,cjs}"
      stage_fixed: true
      run: |
        pnpm --filter frontend exec eslint --no-error-on-unmatched-pattern --cache --fix {staged_files}
      skip:
        - merge
        - rebase

    helpers-eslint:
      root: "packages/helpers/"
      glob: "*.{ts,tsx,mts,mcs,js,jsx,mjs,cjs}"
      stage_fixed: true
      run: |
        pnpm --filter helpers exec eslint --no-error-on-unmatched-pattern --cache --fix {staged_files}
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    packages-audit:
      run: pnpm audit

update cspell
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

存在しなくなっていたオプションは削除
  .syncpackrc.cjs
Due: prettier, cspell

remove audit hook on push
  lefthook.yml
Due: prettier, cspell

lint error の修正
  packages/helpers/src/functions/typed-object-keys.ts
  packages/helpers/src/types.ts
Due: prettier, cspell, helpers-eslint

helpers の tsconfig をちゃんとする
  packages/helpers/package.json
  packages/helpers/src/functions/typed-object-keys.test.ts
  packages/helpers/tsconfig.config.json
  packages/helpers/tsconfig.json
  packages/helpers/tsconfig.src.json
  packages/helpers/tsup.config.ts
  packages/tsconfig/base.json
  packages/tsconfig/config.json
  packages/tsconfig/node22.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier, cspell, helpers-eslint

eslint 設定をきれいにした
  .vscode/settings.json
  apps/backend/eslint.config.js
  apps/backend/eslint.config.ts
  apps/backend/package.json
  apps/backend/tsconfig.config.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.src.json
  apps/frontend/eslint.config.ts
  apps/frontend/package.json
  apps/frontend/tsconfig.config.json
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.src.json
  cspell.json
  lefthook.yml
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/src/js-config.ts
  packages/eslint-config-custom/src/ts-config.ts
  packages/eslint-config-custom/tsconfig.json
  packages/eslint-config-custom/tsup.config.ts
  packages/helpers/eslint.config.ts
  packages/helpers/package.json
  packages/helpers/src/functions/errors.ts
  packages/helpers/tsconfig.src.json
  packages/helpers/tsup.config.ts
  packages/tsconfig/node22.json
  pnpm-lock.yaml
Due: prettier, cspell, backend-eslint, frontend-eslint, helpers-eslint

build 以外は他の build に依存しなくなった
  apps/backend/package.json
  packages/helpers/package.json
  packages/helpers/tsup.config.ts
  turbo.json
Due: prettier, cspell, helpers-eslint

package.json の sort 順を変える
  .syncpackrc.cjs
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/helpers/package.json
Due: prettier, cspell

rename eslint-config-custom
  apps/backend/eslint.config.ts
  apps/backend/package.json
  apps/frontend/eslint.config.ts
  apps/frontend/package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/js-config.ts
  packages/eslint-config/src/ts-config.ts
  packages/eslint-config/tsconfig.json
  packages/helpers/eslint.config.ts
  packages/helpers/package.json
  pnpm-lock.yaml
Due: prettier, cspell, backend-eslint, frontend-eslint, helpers-eslint

quit export test dts files
  package.json
  packages/helpers/package.json
  packages/helpers/tsconfig.build.json
  packages/helpers/tsup.config.ts
  packages/tsconfig/base.json
Due: prettier, cspell, helpers-eslint

commonalize lefthook eslint config
  lefthook.yml
Due: prettier, cspell

update packages
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

using esm
  .prettierrc.js
  .vscode/settings.json
  package.json
Due: prettier, cspell

run:eslint
  apps/backend/package.json
  apps/frontend/package.json
  lefthook.yml
  packages/helpers/package.json
Due: prettier, cspell

fix package prefix
  apps/backend/eslint.config.ts
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/tsconfig.config.json
  apps/backend/tsconfig.src.json
  apps/frontend/eslint.config.ts
  apps/frontend/package.json
  apps/frontend/tsconfig.config.json
  apps/frontend/tsconfig.src.json
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/helpers/eslint.config.ts
  packages/helpers/package.json
  packages/helpers/tsconfig.config.json
  packages/helpers/tsconfig.src.json
  packages/tsconfig/base.json
  packages/tsconfig/node22.json
  packages/tsconfig/package.json
  packages/tsconfig/react.json
  pnpm-lock.yaml
Due: prettier, cspell, backend-eslint, frontend-eslint, helpers-eslint

update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

update settings
  .vscode/settings.json
  apps/backend/eslint.config.ts
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/tsconfig.config.json
  apps/backend/tsconfig.src.json
  apps/frontend/eslint.config.ts
  apps/frontend/package.json
  apps/frontend/tsconfig.config.json
  lefthook.yml
  packages/eslint-config/package.json
  packages/eslint-config/src/js-config.ts
  packages/eslint-config/src/react.ts
  packages/eslint-config/src/typescript.ts
  packages/helpers/eslint.config.ts
  packages/helpers/package.json
  packages/helpers/src/functions/assert-min-length.test.ts
  packages/helpers/src/functions/assert-min-length.ts
  packages/helpers/src/functions/errors.ts
  packages/helpers/src/functions/typed-object-keys.test.ts
  packages/helpers/src/functions/typed-object-keys.ts
  packages/helpers/src/functions/typed-range.test.ts
  packages/helpers/src/functions/typed-range.ts
  packages/helpers/src/index.ts
  packages/helpers/src/types.ts
  packages/helpers/tsconfig.build.json
  packages/helpers/tsconfig.config.json
  packages/helpers/tsconfig.json
  packages/helpers/tsconfig.src.json
  packages/helpers/tsup.config.ts
  packages/tsconfig/base.json
  packages/tsconfig/node22.json
  packages/tsconfig/react.json
  pnpm-lock.yaml
Due: prettier, cspell, backend-eslint, frontend-eslint, helpers-eslint

rename package
  apps/backend/package.json
  apps/frontend/package.json
Due: prettier, cspell
